<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "bootstrap/fixes.html" as fixes %}#}
{#{% import "bootstrap/utils.html" as util %}#}
{% extends "bootstrap/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}mRNA ProbeDesigner{% endblock %}
    {% block content %}
      {{ wtf.quick_form(form,
      form_type='horizontal',
      horizontal_columns=('sm', 2, 6),
       button_map={'submit_button': 'primary'}) }}
        <div class="footer">
            <p> &copy; 2016 The Lubemaster General</p>
        </div>
    {% endblock %}
</head>
</html>