<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}mRNA ProbeDesigner{% endblock %}
    <title>mRNA ProbeDesigner</title>
    {% block content %}
        <form method=post action="">
            Genes to Target: {{ form.genes }}
            GC Target: {{ form.gc_target }}
            Design CDS Only: {{ form.cds_only }}
            <input type=submit value=Compute>
        </form>
        {{ form.genes }}
    {% endblock %}
</head>
<body>

</body>
</html>