<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "bootstrap/fixes.html" as fixes %}#}
{#{% import "bootstrap/utils.html" as util %}#}
{% extends "bootstrap/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}mRNA ProbeDesigner{% endblock %}
    <title>mRNA ProbeDesigner</title>
    {% block content %}
      {{ wtf.quick_form(form, horizontal_columns=('sm', 2, 10),
       button_map={'submit_button': 'primary'}) }}
    {% endblock %}
    </head>
<body>

</body>
</html>